{% extends 'base.html.twig' %}

{% block title %}New Chiots{% endblock %}

{% block body %}
    <h1>Create new Chiots</h1>

    {{ include('chiots/_form.html.twig') }}

    <a href="{{ path('app_chiots_index') }}">back to list</a>
{% endblock %}
