{% extends 'base.html.twig' %}

{% block title %}Nouveau Chiots{% endblock %}

{% block body %}
    <h1>Créer un nouveau chiot</h1>

    {{ include('chiots/_form.html.twig') }}

    <a href="{{ path('app_chiots_index') }}">back to list</a>
{% endblock %}
