{% extends 'base.html.twig' %}

{% block title %}Elevage
{% endblock %}

{% block body %}


	<section class="hero" style="background-image: url('{{ asset('images/elevage.png') }}')">

		<h1>L'ESPRIT DES GARDIENS DU TRIDENT</h1>

		<div class="text-hero">
			<h3>Bienvenue au coeur de notre passion</h3>
			<p>Élever des Leonberg n'est pas pour nous une simple activité, c'est une promesse : celle de préserver la noblesse, la douceur et la puissance de ce « lion de jardin » si cher à nos coeurs.</p>
			<p>Le nom de notre élevage, Les Gardiens du Trident, incarne notre vision. Comme le trident symbolise la force et la maitrise des éléments, nous veillons sur trois piliers fondamentaux qui guident chacune de nos portées :</p>
		</div>

		<div class="elevage-container">

			<div class="elevage-text">
				<h3>L'Équilibre</h3>
				<p>Nos chiens grandissent au sein de notre foyer,entourés de vie et de bienveillance, pour devenir des compagnons stables et sereins.</p>
			</div>

			<div class="elevage-text">
				<h3>La Santé</h3>
				<p>Nous sélectionnons nos reproducteurs avec une exigence absolue, garantissant des lignées rigoureusement testés pour offrir à nos chiots la plus belle espérance de vie.</p>
			</div>

			<div class="elevage-text">
				<h3>La Beauté Sauvage</h3>
				<p>Nous honorons le standard de la race, ce pelage fauve charbonné et ce masque noir qui font du Leonberg un protecteur majestueux.</p>
			</div>
		</div>

		<div class="elevage-text-end">
			<p>Ici, chaque chiot est une part de notre histoire. Nous ne cherchons pas seulement des acheteurs, mais de véritables partenaires de vie, capables d'offrir à nos géants l'espace et l'amour qu'ils méritent.</p>
		</div>

	</section>


	<div class="img-main">
		<img src="{{ asset('images/chien-et-chiot.jpg') }}" alt="chien-et-chiot">
	</div>


{% endblock %}
