{# Hérite du template principal #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}<h2>Nos chiens Leonberg reproducteurs</h2>{% endblock %}

{% block body %}

	{# Section HERO avec image de fond #}
	<section class="hero-geant" style="background-image: url('{{ asset('images/geant.png') }}')">

		{# Titre principal de la page #}
		<h1>NOS GÉANTS - L'HÉRITAGE DU TRIDENT</h1>

		{# Conteneur des chiens #}
		<div class="geant-container">

			<div class="geant-card">
				<img src="{{ asset('images/timber.webp') }}" alt="Chien">
				<p>Timber des sources du val d'usiers</p>
                <a href="https://www.chiens-de-france.com/chien/1411325/archive" target="_blank" class="geant-btn">PEDIGREE</a>
			</div>

			<div class="geant-card">
				<img src="{{ asset('images/unaia.webp') }}" alt="Chien">
				<p>Unaïa des lions de la ferronnière</p>
                <a href="https://www.chiens-de-france.com/chien/1427937/pedigree" target="_blank" class="geant-btn">PEDIGREE</a>
			</div>
		</div>
	</section>


{% endblock %}
