{% extends 'base.html.twig' %}

{% block title %}Géants{% endblock %}

{% block body %}

<section class="hero-geant" style="background-image: url('{{ asset('images/geant.png') }}')">

<h1>NOS GÉANTS - L'HÉRITAGE DU TRIDENT</h1>



</section>


{% endblock %}