{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# IMAGE SECTION #}
<section class="image-section">
    <img src="{{ asset('images/Hero-chien.png') }}" alt="Chien">
</section>
{% endblock %}