{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}<h1>Quotidien du Leonberg</h1>{% endblock %}

{% block body %}

	{# Section HERO avec image de fond #}
	<section class="hero-quotidien" style="background-image: url('{{ asset('images/elevage.png') }}')">

		<div class="quotidien-main">
			<h1>VIVRE AVEC UN LEONBERG</h1>
			<p>Accueillir un géant au coeur tendre est une aventure merveilleuse...</p>
		</div>

		{# Conteneur des conseils #}
		<div class="quotidien-container">

			<div class="quotidien-text">
				<h3>L'Espace et le Foyer</h3>
				<p>Le Leonberg est un chien de famille qui a besoin de vivre à l'intérieur avec ses maîtres, tout en ayant un jardin pour s'exprimer.</p>
			</div>

			<div class="quotidien-text">
				<h3>L'Entretien des "Gardiens du Trident"</h3>
				<p>Il faut absolument ne pas négliger l'importance du brossage hebdomadaire pour sa crinière et la gestion de la mue saisonnière.</p>
			</div>

			<div class="quotidien-text">
				<h3>Éducation, La Force de la Douceur</h3>
				<p>Le Leonberg est un chien sensible qui s'éduque par la complicité et le renforcement positif, pas par la force</p>
			</div>

			<div class="quotidien-text">
				<h3>Budget Santé & Nutrition</h3>
				<p>Prévoyez un budget alimentaire conséquent et des soins vétérinaires adaptés à sa taille (prévention de la dysplasie et retournement d'estomac).</p>
			</div>

		</div>


	</section>


{% endblock %}
