{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
<h1>Passer une commande</h1>

{{ form_start(form) }}
    {{ form_row(form.chiot) }}
    <button type="submit" class="btn btn-primary">Commander</button>
{{ form_end(form) }}
{% endblock %}
